*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    margin: 0; 
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    overflow:hidden;
}
.sky{
    display: inline-block;
    height: 90vh;
    width: 100vw;
    border: 1px solid black;
    margin: 3rem 0;
    margin-left: 0;
    background: url(./sky3.jpeg);
    background-size: cover;
    position: absolute;
    background-position-y: -70px;
    box-shadow: 1px 2px 60px darkmagenta ;
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: repeat-x;
   
}
.jet{
    margin-left: 790px;
    position: absolute;
    bottom: 200px;
    width: 100px;
}
.button{
    padding-left: 20px;
    padding-top: 20px;
}
 /* .sky.animate{ */
    /* transform: translate(-90%);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear; */

